/* Styles go here */

table {
  padding-left : 10px;
  padding-right : 10px;
  padding-top : 4px;
  padding-bottom : 4px;
}

td {
  padding-left : 10px;
  padding-right : 10px;
  padding-top : 4px;
  padding-bottom : 4px;
}